In [1]:
#Basic Important Modules
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid', color_codes=True)
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
plt.style.use("ggplot")
plt.rcParams['figure.figsize'] = (12, 8)

#Sckit Learn Specific Modules

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report

#ML Model

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv(r'C:\Users\Kamal\Desktop\project\LS_PREDICTION_LR\Dis2.csv')
df.head(5)

,Target,PROFILE,PLAN,CHANGE,LANDUSE,ELEVATION,SLOPE,ASPECT,TWI,SPI,DRAINAGE,NDVI,RAINFALL,FAULTLINES,ROAD,GEOLOGY
0,yes,38,43,2,10,11,22,7,45,24,36,16,29,32,88,18
1,yes,57,52,2,10,26,31,11,30,23,12,22,29,28,88,10
2,yes,57,52,2,10,26,31,11,45,30,17,36,29,28,88,10
3,yes,38,43,2,10,26,6,7,16,23,17,22,29,28,88,10
4,yes,38,43,2,10,26,31,15,45,30,17,36,29,28,88,10

In [3]:
X = df[['CHANGE','ELEVATION','SLOPE','TWI','DRAINAGE','NDVI','RAINFALL','GEOLOGY']]
X.head(2)

   CHANGE  ELEVATION  SLOPE  TWI  DRAINAGE  NDVI  RAINFALL  GEOLOGY
0       2         11     22   45        36    16        29       18
1       2         26     31   30        12    22        29       10

In [4]:
y = df[['Target']]

In [5]:
y

    Target
0      yes
1      yes
2      yes
3      yes
4      yes
..     ...
387     no
388     no
389     no
390     no
391     no

[392 rows x 1 columns]

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CHANGE     392 non-null    int64
 1   ELEVATION  392 non-null    int64
 2   SLOPE      392 non-null    int64
 3   TWI        392 non-null    int64
 4   DRAINAGE   392 non-null    int64
 5   NDVI       392 non-null    int64
 6   RAINFALL   392 non-null    int64
 7   GEOLOGY    392 non-null    int64
dtypes: int64(8)
memory usage: 24.6 KB

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=15, stratify= y)

In [11]:
lR = LogisticRegression(penalty='l2', solver= 'newton-cg', C= 0.01)

In [12]:
lR.fit(X_train, y_train)

LogisticRegression(C=0.01, solver='newton-cg')

In [13]:
from sklearn.metrics import classification_report
y_test_pred = lR.predict(X_test)
print(classification_report(y_test, y_test_pred, digits=4))

              precision    recall  f1-score   support

          no     0.9143    0.9846    0.9481        65
         yes     0.9833    0.9077    0.9440        65

    accuracy                         0.9462       130
   macro avg     0.9488    0.9462    0.9461       130
weighted avg     0.9488    0.9462    0.9461       130

In [14]:
#KNN Algorithm

In [16]:
knn = KNeighborsClassifier(n_neighbors=7, p=1).fit(X_train, y_train)

In [17]:
from sklearn.metrics import classification_report
y_test_pred = knn.predict(X_test)
print(classification_report(y_test, y_test_pred, digits=4))
del y_test_pred

              precision    recall  f1-score   support

          no     0.9104    0.9385    0.9242        65
         yes     0.9365    0.9077    0.9219        65

    accuracy                         0.9231       130
   macro avg     0.9235    0.9231    0.9231       130
weighted avg     0.9235    0.9231    0.9231       130

In [18]:
#SVM

In [20]:
svm = SVC(C=10, gamma='scale', kernel='rbf', probability=True)
svm.fit(X_train, y_train)

SVC(C=10, probability=True)

In [21]:
from sklearn.metrics import classification_report
y_test_pred = svm.predict(X_test)
print(classification_report(y_test, y_test_pred, digits=4))

              precision    recall  f1-score   support

          no     0.8824    0.9231    0.9023        65
         yes     0.9194    0.8769    0.8976        65

    accuracy                         0.9000       130
   macro avg     0.9009    0.9000    0.8999       130
weighted avg     0.9009    0.9000    0.8999       130

In [ ]:
#Random forest

In [24]:

clf = RandomForestClassifier(n_estimators = 100) 
 
clf.fit(X_train, y_train)

RandomForestClassifier()

In [26]:
from sklearn.metrics import classification_report
y_test_pred = clf.predict(X_test)
print(classification_report(y_test, y_test_pred, digits=4))

              precision    recall  f1-score   support

          no     0.9000    0.9692    0.9333        65
         yes     0.9667    0.8923    0.9280        65

    accuracy                         0.9308       130
   macro avg     0.9333    0.9308    0.9307       130
weighted avg     0.9333    0.9308    0.9307       130